%form.pure-form.pure-form-stacked{ method: 'POST', action: '/login' }
  %fieldset.pure-group
    %label{ for: 'email' }
      Email:
    %input#email{ type: 'email', placeholder: 'Email', name: 'user[email]' }

    %label{ for: 'password' }
      Password:
    %input#password{ type: 'password', placeholder: 'Password', name: 'user[password]' }

    %button.pure-button.pure-button-primary{ type: 'submit' }
      Submit
