%div.pure-menu.pure-menu-horizontal
  %ul.pure-menu-list
    %li.pure-menu-item
      %a.pure-menu-link{ href: '/contacts' }
        Contact List
    %li.pure-menu-item
      %a.pure-menu-link{ href: '/contacts/new' }
        New Contact
