= haml :'contacts/header_links'

%form.pure-form.pure-form-stacked{ method: 'POST',
                                   action: '/contacts/new' }
  %fieldset
    %label{ for: :name }
      Name:
    %input#name{ type: 'text',
                 placeholder: 'Contact name',
                 name: 'contact[name]' }

    %label{ for: :email }
      Email:
    %input#email{ type: 'email', placeholder: 'Contact email',
                  name: 'contact[email]' }

    %label{ for: :phone }
      Phone:
    %input#phone{ type: 'tel', placeholder: 'Contact phone number',
                  name: 'contact[phone]' }
    %label{ for: :zip }
      Zip Code:
    %input#phone{ type: 'text', placeholder: 'Contact zip code',
                name: 'contact[zip]' }

    %textarea#notes{ type: 'text',
                         placeholder: 'Notes about contact',
                         name: 'contact[notes]',
                         rows: 10,
                         cols: 30 }

    %button.pure-button.pure-button-primary{ type: 'submit' }
      Submit
