!!! 5

%html{ lang: 'en' }
  %head
    %title
      Org Contacts
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    -# Include css / javascript assets (TODO: caching?)
    %link{ rel: 'stylesheet', href: '/css/pure-min.css' }
    %link{ rel: 'stylesheet', href: '/css/layouts/side-menu.css' }
    %link{ rel: 'stylesheet', href: '/css/custom.css' }
    %script{ src: '/js/ui.js', async: true }

  %body
    %div#layout
      %a.menu-link#menuLink{ href: "#menu" }
        %div#menu
          %div.pure-menu
            %a.pure-menu-heading{ href: "/" }
              PDX O4J
            %ul.pure-menu-list
              %li.pure-menu-item
                %a.pure-menu-link{ href: "/groups" }
                  Groups
              %li.pure-menu-item
                - if current_user
                  %a.pure-menu-item{ href: "/logout" } Logout
                - else
                  %a.pure-menu-item{ href: "/login" } Login

    %div#main
      %div.header
        %h1= @page_title if @page_title
        %h2= @page_subtitle if @page_subtitle
      %div.content
        - if session[:flash_message]
          %div{ class: session[:flash_message_type] }
            = session[:flash_message]
          - flash_message_clear
        = yield
        -# Load javascript at end so as not to delay earlier content

